---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';

import Menu from "../components/Menu.astro";
import Busqueda from "../components/Busqueda.astro";
import Tarjeta from "../components/Tarjeta.astro";

import {rutasDestacadas} from "../data/rutas-destacadas";
---

<Layout title="Skill Path AI">
	<header>
		<Menu />
        <h1>¿Qué quieres <u>aprender</u> hoy?</h1>
        <p>La inteligencia artificial generará una ruta de aprendizaje adaptada a tus preferencias.</p>
		<Busqueda />
	</header>
	<main>
		<hr>
		<section id="seccion-destacados">
			<header>
				<h2>Rutas destacadas</h2>
				<p>Un resumen con las mejores rutas de hoy, seleccionadas <mark>exclusivamente</mark> para ti.</p>
			</header>
			<Tarjeta ruta={rutasDestacadas[0]} />
			<Tarjeta ruta={rutasDestacadas[2]} />
			<Tarjeta ruta={rutasDestacadas[1]} />
		</section>
		<hr>
		<section>
			<blockquote>
				"Intenta aprender algo sobre todo y todo sobre algo"
				<footer><i>- Thomas Huxley</i></footer>
			</blockquote>
		</section>
		<hr>
		<div>
			<details>
				<summary>Acerca de Open Path AI</summary>
				<p>
					Open Path AI es una plataforma de aprendizaje adaptativo
					que utiliza inteligencia artificial para generar rutas de
					aprendizaje personalizadas para sus usuarios.
				</p>
				<p>
					Tiene como objetivo ayudar a cualquier persona
					a aprender cualquier cosa, en cualquier momento y en
					cualquier lugar.
					Es un proyecto ambicioso que busca revolucionar la
					educación y el aprendizaje, sobre todo en los lugares
					en los que no se tiene acceso a recursos de calidad.
				</p>
				<p>
					Creemos que la educación es un derecho humano y que
					podemos lograr que sea accesible para todos, gracias
					a la inteligencia artificial, de la mano de OpenAI.
				</p>
			</details>
			<details>
				<summary>¿Quiénes somos?</summary>
				<p>
					Somos un equipo de cuatro estudiantes del doble grado de
					ADET + Ingeniería Informática en la UPSA.
				<ul>
					<li>Alberto Cortijo Macías</li>
					<li>César Mata Rodríguez</li>
					<li>Alejandro Jianana Qiu Qiu</li>
					<li>Enrique Redondo Cortés</li>
				</ul>
				</p>
			</details>
		</div>
	</main>
	<footer>
		<hr>
		<p>
			<small>Hack4Edu, 2023</small>
		</p>
		<p>
			<b>Universidad Pontificia de Salamanca</b>
		</p>
	</footer>
</Layout>

<style>
	details p {
		width: 80%;
	}
</style>